@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
    var no = 0;
}

<div class="modal fade" id="myAlertModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
            </div>

            <div class="modal-body">

                <div class="thank-you-pop">
                    <img id="myAlertImg" src="" alt="">
                    <h1 id="hrTitle"></h1>
                    <p><label id="lblAlertMsg"></label></p>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtproductname" class="form-control-label">Name:</label>
                    <input type="text" class="form-control" id="txtproductname" readonly>
                </div>
                <div class="form-group">
                    <label for="txtmerchantproductno" class="form-control-label">Merchant Product No:</label>
                    <input type="text" class="form-control" id="txtmerchantproductno" readonly>
                </div>
                <div class="form-group">
                    <label for="txtproductstock" class="form-control-label">Stock:</label>
                    <input type="text" value="25" class="form-control" id="txtproductstock" readonly>
                    <label id="lblstockLocationId" hidden></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" onclick="UpdateProductStock()">Update product stock</button>
            </div>
        </div>
    </div>
</div>

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Product Listing</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Name</div>
                        <div class="visit">GTIN</div>
                        <div class="percentage">TotalQuantity</div>
                        <div class="percentage">Action</div>
                    </div>
                    @{
                        if (Model != null && Model.Products.Count > 0)
                        {
                            foreach (var item in Model.Products)
                            {
                                no++;
                                <div class="table-row">
                                    <div class="serial">@no</div>
                                    <div class="country"> @item.Description</div>
                                    <div class="visit"> @item.Gtin</div>
                                    <div class="percentage"> @item.Quantity</div>
                                    <div class="" onclick="callProductFunc('@item.Description', '@item.MerchantProductNo', '@item.StockLocation.Id')">
                                        <a href="#" class="genric-btn link-border">Update Product Stock</a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            no++;
                            <div class="table-row" style="align-content:center">
                                No record found!
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
